<ion-header>
  <ion-toolbar>
    <ion-title>question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img />
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>How many pair</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-ripple-effect></ion-ripple-effect>
      of shoes do you own?
      <br/>
      <!-- Number type input -->
      <ion-input 
      class="ion-margin-verticle"
      type="number" value="333"></ion-input>
    </ion-card-content>
  </ion-card>
  <ion-button 
  class="ion-margin-horizontal"
  expand="block"
  color="primary">SUBMIT</ion-button>
</ion-content>
