.page-ctn {
  height: 100vh;
}
.footnote {
  font-size: 0.75rem;
  color: #6F6F6F;
  margin-top: 10px;
  text-align: left;
  &.link {
    font-size: 0.5rem;
    text-decoration: underline;
    text-align: left;
    opacity: 0.6;
  }
}


ion-card {
  min-height: calc(100vh - 260px);
  display: flex;
  flex-flow: column;

  margin-bottom: 40px;
}

ion-card-content {
  padding-top: 5px;
  margin-top: auto;
}

.full-screen {
  // position: relative;
  height: 100vh;
  background-color: #000000;
  flex-flow: column;  
  justify-content: flex-start;
  .media {
    width: 100vw;
  }
  .section-ctn {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}
.content {
  font-size: 1.125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: justify;
  line-height: 1.3;
  color: white;
}
.end-btn {
  margin-top: 2rem;
}
.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0;
}

strong {
  color: #000000;
  font-size: 1.2em;
}